@import url("https://fonts.googleapis.com/css?family=Lato|Oswald:200,300,400,500,700");
.btn--primary {
  font-family: "Lato", sans-serif;
  width: 100%;
  border: none;
  cursor: pointer; }

.btn--primary, .btn--primary:focus, .btn--primary.disabled:hover {
  background: #40af93;
  color: #d7d5d9; }

.btn--primary:hover {
  background: #018185;
  color: #F8FAFF; }

.project__title, .project__overlay a {
  letter-spacing: 0.125em;
  padding: 0 .5em;
  color: #292b2f;
  background: #40af93;
  font-size: 1.1875em;
  font-weight: 300; }
  .project__title:hover, .project__overlay a:hover {
    color: #d7d5d9; }

body {
  font-family: "Oswald", sans-serif;
  color: #d7d5d9;
  line-height: 1.6;
  font-size: 16px;
  text-align: center; }

a {
  color: #d7d5d9;
  text-decoration: none; }
  a:hover {
    color: #40af93; }

ul {
  list-style: none;
  padding: 0; }

h2 {
  letter-spacing: 0.1875em;
  text-transform: uppercase; }

.about-info {
  font-size: 1.25em; }
  @media (min-width: 1024px) {
    .about-info {
      font-size: 1.5em; } }

.skills li {
  font-size: 1.125em;
  letter-spacing: 0.125em; }

figcaption {
  font-size: 1.1875em;
  font-family: "Oswald", sans-serif; }

.contact-text {
  font-size: 1.375em;
  font-weight: 300; }

.name {
  font-size: 1.1875em;
  text-decoration: underline;
  text-decoration-color: #40af93; }

.wrap {
  width: 100%;
  display: flex;
  flex-flow: column; }

.main-content {
  margin-top: 5em;
  margin-bottom: 5em; }

.about-image, .cert-image {
  border: 1em solid #292b2f;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.8); }

.about-image {
  max-width: 300px; }

.cert-image {
  max-width: 450px; }

img {
  width: 100%; }

header {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 90vh; }
  header a {
    font-size: 8em;
    text-decoration: underline;
    text-decoration-color: #40af93; }
    header a:hover {
      color: #40af93;
      text-decoration-color: #d7d5d9; }
  @media (min-width: 769px) {
    header a:first-child {
      display: none; } }
  header a + a {
    display: none; }
    @media (min-width: 769px) {
      header a + a {
        display: inline; } }

.nav {
  position: relative;
  background: #292b2f;
  z-index: 10;
  top: 0;
  width: 100%;
  margin: 0 auto; }
  .nav ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center; }
    .nav ul li {
      flex: 1;
      text-align: center;
      text-transform: capitalize;
      font-size: 1.125em;
      font-weight: 300;
      letter-spacing: 0.125em; }
      .nav ul li a:hover, .nav ul li a.selected {
        border-bottom: 0.115em solid #40af93;
        background-color: inherit; }

.fixed-nav nav {
  position: fixed;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.8); }

li.logo {
  max-width: 0;
  overflow: hidden;
  transition: all 0.5s;
  font-size: 1.875em;
  font-weight: 600;
  background: #40af93; }
  li.logo a {
    color: #292b2f; }
    li.logo a:hover {
      color: #d7d5d9; }

.fixed-nav li.logo {
  max-width: 500px; }

/*----Footer----*/
footer {
  border-top: 0.115em solid #40af93; }

fieldset {
  margin: 0 auto;
  border: none;
  padding: 1em;
  text-align: left; }
  fieldset label {
    font-size: 1.2em; }
  fieldset input,
  fieldset textarea {
    background: #fff;
    width: 100%;
    margin-bottom: 1em;
    padding: 1em 2%;
    border: none;
    border-bottom: 0.3em solid #40af93;
    resize: none;
    overflow: hidden;
    font-size: 100%;
    line-height: 1.15; }
    fieldset input::placeholder, fieldset input::placeholder,
    fieldset textarea::placeholder,
    fieldset textarea::placeholder {
      padding-right: 2%;
      color: #018185;
      font-size: 0.937em;
      font-style: italic; }
    fieldset input:focus, fieldset input:focus,
    fieldset textarea:focus,
    fieldset textarea:focus {
      outline: none;
      border-bottom: 0.3em solid #018185;
      background-color: #fff; }

form {
  width: 100%;
  margin: 0 auto;
  max-width: 500px; }

.btn--primary {
  font-size: 1.5em; }
  .btn--primary:focus {
    border: none; }

* {
  box-sizing: border-box; }

body {
  background: #292b2f;
  margin: 0; }

.card {
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.8);
  background: #292b2f;
  display: flex;
  flex-flow: column;
  justify-content: center; }

.section {
  padding: 2.625em 1.125em;
  width: 100%;
  background: #d7d5d9;
  display: flex;
  flex-flow: column; }

/*----Intro-----------*/
.about {
  align-items: center;
  justify-content: center;
  margin-bottom: 0; }
  @media (min-width: 769px) {
    .about {
      display: flex;
      flex-flow: row; } }
  .about a {
    color: #40af93; }
    .about a:hover {
      color: #018185; }

.card-text {
  margin: 1em;
  padding: 1em; }
  .card-text p {
    margin: 0; }

@media (min-width: 769px) {
  .about-info {
    width: 60%;
    order: -1; } }
@media (min-width: 1024px) {
  .about-info {
    width: 65%; } }

@media (min-width: 769px) {
  .certs {
    order: 1; } }

/*----Skills----*/
#skills {
  align-items: center; }
  #skills ul {
    width: 100%;
    display: flex;
    flex-flow: column;
    padding: 0 5%; }
    @media (min-width: 769px) {
      #skills ul {
        display: flex;
        flex-flow: row;
        margin-left: 1em; } }
    #skills ul li {
      padding: 0.5em 0;
      background: #292b2f;
      box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.8);
      margin-bottom: 1em;
      flex: 1; }
      @media (min-width: 769px) {
        #skills ul li {
          margin-right: 1em; } }

/*----projects----*/
.projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: normal; }

.project {
  display: flex;
  flex-flow: column;
  width: 100%;
  position: relative;
  z-index: 1;
  margin: 0 0 2.7em 0; }
  @media (min-width: 769px) {
    .project {
      width: 48%; } }
  @media (min-width: 1024px) {
    .project {
      width: 31%; } }
  .project__title {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    margin: 0; }
  .project__desc {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 5px;
    padding: 0.5625em;
    opacity: 0;
    background: #292b2f;
    transition: all 0.5s ease-in-out;
    width: 100%; }
  .project__overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end; }
  .project:hover .project__overlay {
    opacity: 1;
    z-index: 3; }
  .project:hover .project__desc {
    opacity: 1; }

/*----Contact---*/
.contact-text {
  padding: 1em;
  margin: 1em auto;
  max-width: 500px; }

/*# sourceMappingURL=styles.css.map */
