.card__image {
  border: 1em solid $shark;
  box-shadow: 0px 10px 20px -5px $color-boxshadow;
  max-width: 300px;
  margin-bottom: 1em;
}

.card__image--large {
  max-width: 375px;
}

img {
  width: 100%;
}

svg {
  fill: $color-primary;
  transition: all 0.3s ease-in-out;
}

a svg:hover {
  fill: $color-secondary;
}
