// // Navigation
.selected {
  text-decoration: underline $color-primary;
}
.nav {
  position: relative;
  background: $shark;
  z-index: 10;
  top: 0;
  width: 100%;
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    @include flex(flex, row, center, center);
    li {
      flex: 1;
      text-transform: capitalize;
      font-size: em(18px);
      @include mq(medium) {
        font-size: em(22px);
      }
      font-weight: $font-weight--regular;
      letter-spacing: $letter-spacing-default;
      
    }
    li:not(:first-child) {
      &:hover {
        text-decoration: underline $color-primary;
      }
  }
  }
  .fixed-nav & {
    position: fixed;
    box-shadow: 0px 10px 20px -5px $color-boxshadow;
  }
}

li.title {
  max-width: 0;
  overflow: hidden;
  transition: all 0.5s;
  background: $color-primary;
  a {
    color: $color-text-dark;
    &:hover {
      color: $color-text-base;
    }
  }
  .fixed-nav & {
    max-width: 500px;
  }
}
