%btn {
  font-family: $font-family--primary;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

%btn--primary {
  background: $btn--primary--bg;
  color: $color-text-dark;
}

%btn--primary--hover {
  background: $btn--secondary--bg;
  color: $btn--secondary--color;
}

%btn--primary--disabled {
  background: $btn--secondary--bg;
  color: $btn--secondary--color;
}

%btn--secondary {
  background: $btn--tertiary--bg;
  color: $btn--primary--color;
}

%btn--secondary--hover {
  text-decoration: underline $color-primary;
}

%btn--secondary--disabled {
  color: $color-primary;
}

%tag {
  letter-spacing: em(2px);
  padding: 0 0.5em;
  color: $shark;
  background: $color-primary;
  font-size: em(19px);
  font-weight: $font-weight--regular;
  &:hover {
    color: $color-text-base;
  }
}
