/*----Skills----*/

.skills {
  width: 100%;
  @include flex(flex, row wrap, center, center);
  ul {
    width: 100%;
    @include flex(flex, row wrap, center, center);
    @include mq(medium) {
      @include flex(flex, row);
      margin-left: 1em;
    }
    li {
      width: 40%;
      padding: 0.5em 0;
      background: #292b2f;
      box-shadow: 0px 10px 20px -5px $color-boxshadow;
      margin-bottom: 1em;
      margin-right: 1em;
      @include mq(medium) {
        margin-right: 1em;
      }
    }
  }
}
