/*----Intro-----------*/

.about {
  align-items: center;
  justify-content: center;
  margin-bottom: 0;
  @include mq(medium) {
    @include flex(flex, row);
  }
  a {
    color: $color-primary;
    &:hover {
      color: $color-secondary;
    }
  }
}

.card-text {
  letter-spacing: em(.3px);
  margin: 1em;
  padding: 1em;
  p {
    margin: 0;
  }
}

.about-info {
  @include mq(medium) {
    width: 60%;
    order: -1;
  }
  @include mq(large) {
    width: 65%;
  }
}

.certs {
  @include mq(medium) {
    order: 1;
  }
}

/*----Skills----*/

#skills {
  align-items: center;
  ul {
    width: 100%;
    @include flex(flex, row wrap, center);
    padding: 0 5%;
    @include mq(medium) {
      @include flex(flex, row);
      margin-left: 1em;
    }
    li {
      width: 40%;
      padding: 0.5em 0;
      background: #292b2f;
      box-shadow: 0px 10px 20px -5px $color-boxshadow;
      margin-bottom: 1em;
      margin-right: 1em;
      // flex: 1;
      @include mq(medium) {
        margin-right: 1em;
      }
    }
  }
}
