/*----projects----*/

.projects {
  @include flex(flex, row wrap, space-around, normal);
}

.project {
  @include flex(flex, column);
  width: 100%;
  position: relative;
  z-index: 1;
  margin: 0 0 2.7em 0;
  @include mq(medium) {
    width: 48%;
  }
  @include mq(large) {
    width: 31%;
  }
  @include mq(extra-large) {
    width: 24%;
  }
  @include e(title) {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 1;
    @extend %tag;
    transition: all  0.5s ease-in-out;
  }
  @include e(desc) {
    @include flex(flex, column, center, center);
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 5px;
    padding: em(9px);
    opacity: 0;
    background: rgba(41, 43, 47, 1);
    transition: all 0.5s ease-in-out;
    width: 100%;
  }
  @include e(overlay) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    @include flex(flex, row, space-between, flex-end);
    a {
      @extend %tag;
    }
  }
  &:hover .project__overlay {
    opacity: 1;
    z-index: 3;
  }
  &:hover .project__desc {
    opacity: 1;
  }
  &:hover .project__title {
    z-index: 2;
    opacity: 1;
  }
}