/*----projects----*/

// .projects {
//   // padding-top: 3em;
// }
.project {
  @include flex(flex, column);
  position: relative;
  z-index: 1;
  margin-bottom: 1em;

  @include e(title) {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    opacity: 1;
    @extend %tag;
    transition: all 0.5s ease-in-out;
  }
  @include e(desc) {
    @include flex(flex, column, center, center);
    position: absolute;
    z-index: 1;
    top: 0;
    bottom: 1em;
    padding: em(9px);
    opacity: 0;
    background: rgba(41, 43, 47, 1);
    transition: all 0.5s ease-in-out;
    width: 100%;
  }
  @include e(overlay) {
    position: absolute;
    bottom: 1em;
    right: 0;
    width: 100%;
    opacity: 0;
    transition: all 0.5s ease-in-out;
    z-index: 1;
    @include flex(flex, row, space-between, flex-end);
    a {
      @extend %tag;
    }
  }
  &:hover .project__overlay {
    opacity: 1;
    z-index: 3;
  }
  &:hover .project__desc {
    opacity: 1;
  }
  &:hover .project__title {
    z-index: 2;
    opacity: 1;
  }
}
