%btn {
  font-family: $font-family--secondary;
  width: 100%;
  border: none;
  cursor: pointer;
}

%btn--primary {
  background: $btn--primary--bg;
  color: $btn--primary--color;
}

%btn--primary--hover {
  background: $btn--secondary--bg;
  color: $btn--secondary--color;
}

%btn--primary--disabled {
  background: $btn--secondary--bg;
  color: $btn--secondary--color;
}

%tag {
  letter-spacing: em(2px);
  padding: 0 .5em;
  color: $shark;
  background: $color-primary;
  font-size: em(19px);
  font-weight: $font-weight--light;
  &:hover {
    color: $color-text-base;
  }
}