%btn {
  font-family: $font-family--secondary;
  width: 100%;
  border: none;
  cursor: pointer;
}

%btn--primary {
  background: $btn--primary--bg;
  color: $btn--primary--color;
}

%btn--primary--hover {
  background: $btn--secondary--bg;
  color: $btn--secondary--color;
}

%btn--primary--disabled {
  background: $btn--secondary--bg;
  color: $btn--secondary--color;
}
