// layout container

.wrap {
  width: 100%;
  @include flex(flex, column);
  padding-bottom: em(120px);
  background: $color-section-bg;
  border-top: 0.115em solid $color-primary-border;
}

.section {
  width: 100%;
  background: $color-section-bg;
  @include flex(flex, row wrap, center, center);
  padding-top: 8em;
  margin-bottom: 5em;
  max-width: 1444px;
  margin: 0 auto;
}

// .contact {
//   @include flex(flex, column);
// }
