header {
  @include flex(flex, column, center, center);
    // height: calc(90vh - 70px);
  a {
    letter-spacing: em(1px);
    line-height: 1.1;
    font-size: 4em;
    @include mq(medium) {
      font-size: 8em;
    }
    &:hover {
      color: $color-secondary;    }
  }
  .caption {
    line-height: 1.8;
    letter-spacing: em(1px);
    opacity: 0.9;
    font-size: em(32px);
    @include mq(medium) {
      font-size: em(72px);
      line-height: 1.1;
    }
  }
}
