header {
  @include flex(flex, column, center, center);
  height: calc(100vh - 70px);
  a {
    letter-spacing: em(1px);
    line-height: 1.1;
    font-size: 4em;
    @include mq(medium) {
      font-size: 8em;
  
    }
    &:hover {
      color: $color-secondary;    }
  }
  .caption {
    line-height: 1.8;
    letter-spacing: em(1px);
    width: 100%;
    opacity: 0.9;
    @include flex(flex, column);
    font-size: em(32px);
    @include mq(medium) {
      font-size: em(72px);
      line-height: 1.1;
    }
  }
}
