// layout container

.wrap {
  width: 100%;
  @include flex(flex, column);
  // padding-bottom: em(120px);
  background: $color-section-bg;
  border-top: 0.115em solid $color-primary-border;
}

.section {
  width: 100%;
  background: $color-section-bg;
  @include flex(flex, row wrap, space-around, center);
  padding-top: em(64px);
  max-width: 1444px;
  margin: em(54px) auto;
}

.grid {
  @include e(row) {
    @include flex(flex, row wrap, space-around, center);
    margin: 1em auto 0;
    width: 90%;
    @include mq(medium) {
      width: 100%;
    }
  }
  @include e(col) {
    width: 90%;
    @include mq(medium) {
      @include g-columns(medium);
    }
    @include mq(large) {
      @include g-columns(large);
    }
  }
}
