// // Navigation
.selected {
  text-decoration: underline; 
  text-decoration-color:  $color-primary-border;
}
.nav {
  position: relative;
  background: $shark;
  z-index: 10;
  top: 0;
  width: 100%;
  ul {
    margin: 0;
    list-style: none;
    padding: 0;
    @include flex(flex, row, center, center);
    li {
      flex: 1;
      text-transform: capitalize;
      font-size: em(18px);
      font-weight: $font-weight--regular;
      letter-spacing: $letter-spacing-default;
      a {
        &:hover,
        &.selected {
          border-bottom: 0.115em solid $color-primary-border;
          background-color: inherit;
        }
      }
    }
  }
  .fixed-nav & {
    position: fixed;
    box-shadow: 0px 10px 20px -5px $color-boxshadow;
  }
}


li.logo {
  max-width: 0;
  overflow: hidden;
  transition: all 0.5s;
  background: $color-primary;
  a {
    color: $color-text-dark;
    &:hover {
      color: $color-text-base;
    }
  }
}

.fixed-nav li.logo {
  max-width: 500px;
}
